.flagRu {
  width: 30px;
  height: 20px;
  display: inline-block;
  background-image: url("/images/lang-ru.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.flagEn {
  width: 30px;
  height: 20px;
  display: inline-block;
  background-image: url("/images/lang-en.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
