.flagRu {
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-top: 5px;
  background-image: url("/images/lang-ru.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.flagEn {
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-top: 5px;
  background-image: url("/images/lang-en.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
